################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBuy/obj/Debug/net7.0/CodeBuy.AssemblyInfo.cs
/CodeBuy/obj/Debug/net7.0/CodeBuy.AssemblyInfoInputs.cache
/.vs/CodeBuy/DesignTimeBuild/.dtbcache.v2
/.vs/CodeBuy/FileContentIndex/021a6044-7073-4e4c-bfca-032dbe92c214.vsidx
/.vs/CodeBuy/FileContentIndex/0ab3bb0a-5e9f-4e94-878c-6ba8a82de85f.vsidx
*.vsidx
/.vs/CodeBuy/FileContentIndex/cedf068b-74e9-488f-b048-304d58a47609.vsidx
/CodeBuy/CodeBuy.csproj
